[package]
name = "o4fm-core"
version.workspace = true
edition.workspace = true
license.workspace = true

[features]
default = ["std"]
std = []

[dependencies]
heapless.workspace = true
serde.workspace = true

[lints]
workspace = true
