[package]
name = "o4fm-phy"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
o4fm-core.workspace = true
thiserror.workspace = true

[lints]
workspace = true
